.cardTecnology {
    display: flex;
    gap: 220px;
    align-items: center;
}

.articleTecno {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.articleTecno>h1 {
    font-size: 80px;
    font-family: 'Bellefair', serif;
    font-weight: 300;

}

.articleTecno>p {
    line-height: 20px;
    font-weight: 100;
    text-align: justify;

}

.articleTecno>h3{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 5px;
}

#imgTecnology {
    width: 400px;
}
