nav{
    z-index: 999;
    width: 100%;
    padding: 40px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    position: fixed;
}

.line{
    position: absolute;
    width: 400px;
    border-bottom: 0.5px white solid;
    left: 510px;
}

.navbar-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: rgb(39, 54, 61, 0.7);
    width: 700px;
}

#navbar-list{
    display: flex;
    list-style: none;
    gap: 40px;
    font-family: 'Barlow Condensed', sans-serif;
}

#list>h1{
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: 1s;
    letter-spacing: 4px;
    font-weight: 100;
}

#navSpan{
 font-weight: 900;
}

#list>h1:hover{
    color: yellow;
}