.tecnology{
    background-image: url(../../assets/technology/background-technology-desktop.jpg);
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    object-fit: contain;
    box-sizing: content-box;
}